<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>业务系统数据统计</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="/css/animations.css" rel="stylesheet">
<link href="/css/content1.0.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/times.js"></script>
</head>
<body ng-app="myApp" ng-controller="customersCtrl">
	<!-- banner start -->
	<div class="banner-caption clearfix">
		<div id="title">
			<div class="caption-title clearfix">
				<i class="title-left"><img src="img/title-left.png"></i>
				<p class="title-left-title-font">业务系统数据统计</p>
				<i class="title-left"><img src="img/title-right.png"></i>
			</div>
			
		</div>
		<div id="main">
			<div class="col-md-12">
				<div class="row">
					<div id="title01" class="col-xs-12 col-sm-12 col-md-3">
						<div class="data-box1 clearfix" id="box01">
							<i class="topL"></i> <i class="topR"></i> <i class="bottomL"></i>
							<i class="bottomR"></i>
							<div class="data-title t_btn8">
								<b class="data-title-left">[</b> <span>本周数据分析</span> <b
									class="data-title-right">]</b>
							</div>
							<div class="total-mn" id="total-mn1">
								<span>放款金额</span>

								<!--<span class="live-box-font1"><span style="font-size: 2rem;">549462</span> 万元</span>-->
							</div>
							<div id="box1_top">
								<div id="box2" class="box-echart box-bottom"></div>
							</div>
							<div class="total-mn" id="total-mn2">
								<span>放款笔数</span>

								<!--<span class="live-box-font1"><span style="font-size: 2rem;">549462</span> 万元</span>-->
							</div>
							<div id="box1_bottom">
								<div id="box4" class="box-echart"></div>
							</div>
						</div>
						<div class="data-box1" id="box8-box" style="margin-top: 30px;">
							<i class="topL"></i> <i class="topR"></i> <i class="bottomL"></i>
							<i class="bottomR"></i>
							<div class="data-title t_btn1">
								<b class="data-title-left">[</b> <span>本周产品分布</span> <b
									class="data-title-right">]</b>
							</div>
							<div id="box8" class="box-echart"></div>
						</div>
					</div>
					<div id="title02"
						class="col-xs-12 col-sm-12 col-md-6 panel-top panel-bottom">
						<div class="data-box1 box1-back" id="box02">
							<i class="topL"></i> <i class="topR"></i> <i class="bottomL"></i>
							<i class="bottomR"></i>
							<div class="data-title t_btn0">
								<b class="data-title-left">[</b> <span>当日业务数据分布</span> <b
									class="data-title-right">]</b>
							</div>
							<ul class="data-box1-data clearfix">
								<p class="data-box1-font1">当日业务成交额</p>
								<li class="data-box1-panel" id="today_money"></li>
								<li class="data-box1-font1" style="padding-top: 1rem;">元</li>
							</ul>
							<div class="total-mn">
								<span>当日业务进件额</span> <span class="live-box-font1"><span
									style="font-size: 2.2rem;" id="week_money"></span> 元</span>
							</div>
							<div id="box1" class="box-echart-china"></div>
						</div>
						<div class="data-box1" id="box9-box" style="margin-top: 30px;">
							<i class="topL"></i> <i class="topR"></i> <i class="bottomL"></i>
							<i class="bottomR"></i>
							<div class="data-title t_btn7" style="width: 227px">
								<b class="data-title-left">[</b> <span>当日门店数据分布</span> <b
									class="data-title-right">]</b>
							</div>
							<div id="box9" class="box9-1" style="overflow: auto;">
								<table class="panel-table">
									<thead>
										<tr>
											<th ng-repeat="x in listHead">{{ x.categories }}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="y in listContent">
											<td>{{ y.categories }}</td>
											<td>{{ y.data1 }}</td>
											<td>{{ y.data2 }}</td>
											<td>{{ y.data3 }}</td>
											<td>{{ y.data4 }}</td>
											<td>{{ y.data5 }}</td>
											<td>{{ y.data6 }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="box9-2">
								<table class="panel-table">
									<thead>
										<tr>
											<th width="50%">资产端</th>
											<td>前隆</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="z in listData1">
											<th>{{ z.categories }}</th>
											<td>{{ z.data1 }}</td>
										</tr>
									</tbody>
								</table>
								<table class="panel-table">
									<thead>
										<tr>
											<th width="50%">资产端</th>
											<td>用钱宝</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="q in listData1">
											<th>{{ q.categories }}</th>
											<td>{{ q.data2 }}</td>
										</tr>
									</tbody>
								</table>
								<table class="panel-table">
									<thead>
										<tr>
											<th width="50%">资产端</th>
											<td>闪银奇异</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="w in listData1">
											<th>{{ w.categories }}</th>
											<td>{{ w.data3 }}</td>
										</tr>

									</tbody>
								</table>
								<table class="panel-table">
									<thead>
										<tr>
											<th width="50%">资产端</th>
											<td>借贷宝</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="e in listData1">
											<th>{{ e.categories }}</th>
											<td>{{ e.data4 }}</td>
										</tr>

									</tbody>
								</table>
								<table class="panel-table">
									<thead>
										<tr>
											<th width="50%">资产端</th>
											<td>蚂蚁借呗</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="t in listData1">
											<th>{{ t.categories }}</th>
											<td>{{ t.data5 }}</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div id="title03" class="col-xs-12 col-sm-12 col-md-3">
						<div class="data-box1" id="box03">
							<i class="topL"></i> <i class="topR"></i> <i class="bottomL"></i>
							<i class="bottomR"></i>
							<div class="data-title t_btn3" style="width: 238px">
								<b class="data-title-left">[</b> <span>逾期</span> <b
									class="data-title-right">]</b>
							</div>

							<ul class="ym-menu clearfix" id="ym-menu">
								<li class="ym-active"><a href="">当天</a></li>
								<li class="taba"><a href="">本周</a></li>
							</ul>

							<div id="box3" class="box-echart tabcontent"></div>
							<div id="boxes3" class="box-echart tabcontent"
								style="display: none;"></div>
						</div>
						<div class="data-box1" id="box04" style="margin-top: 30px;">
							<i class="topL"></i> <i class="topR"></i> <i class="bottomL"></i>
							<i class="bottomR"></i>
							<div class="data-title t_btn9" style="width: 238px">
								<b class="data-title-left">[</b> <span>本周剩余本金与剩余利息</span> <b
									class="data-title-right">]</b>
							</div>
							<div id="box5" class="box-echart"></div>
						</div>
					</div>
				</div>
				<!--asad-->
			</div>
		</div>

	</div>
	</div>
	<!-- JavaScript -->
	<script>
		$(document).ready(
				function() {
					$('.ym-menu li').click(
							function() {
								var index = $(this).index();
								$(this).attr('class', "ym-active").siblings(
										'li').attr('class', 'taba');
								$('.tabcontent').eq(index).show(200).siblings(
										'.tabcontent').hide();
							});
					var t = 0;
					var timer = setInterval(function() {
						if (t == $('.ym-menu li').length)
							t = 0;
						$('.ym-menu li:eq(' + t + ')').click();
						t++;
					}, 6000)
				})
	</script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/echarts.min.js"></script>
	<script type="text/javascript" src="/js/china.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/mycharts.js"></script>
	<script>
		$(document).ready(function() {
			$(".data-title").each(function(index) {
				var span = $(this).find("span");
				$(this).css("width", $(span).outerWidth() + 60)
			});
		})
	</script>
</body>

</html>